body {
    background-color: rgb(4, 4, 27);
    color: white;
}

h1 {
    text-align: center;
}
.header {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

td, th {
    background-color: rgb(116, 113, 113);
    opacity: 0.5;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 1rem;
}

.heading {
    border-bottom: solid black 1px;
}

.sort:hover {
    cursor: pointer;
    background-color: black;
}

.s:hover , .m:hover {
    background-color: black;
    cursor: pointer;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-bottom: 1rem;

}
