body {
    background-color: rgb(4, 4, 27);
    color: white;
}

h1 {
    text-align: center;
}
.header {
    font-size: 2rem;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
